{% extends 'base.html' %}

{% block head_title %}
    ADESA Dashboard
{% endblock %}

{% block content %}
    {% if result_dict is not None %}
    <h1>Dashboard</h1>
    <hr>
    <h3>Summary</h3>
    <div class="mb-3 card">
        <div class="card-header-tab card-header">
            Essential 8 Report Score
        </div>
        <div class="row">
            <div class="col-md-4">
                Active Directory Environment Score
            </div>
            <div class="col-md-4">
                Average Maturity Score
            </div>
            <div class="col-md-4">
                Days Since Last Audit
            </div>
        </div>
        <div class="text-centre card-footer">
            <a href="#">View full report</a>
        </div>
    </div>
    <hr>
    <h3>Essential 8 Scores</h3>
    <div class="mb-3 card">
        <div class="card-header-tab card-header">
            <h5>Attack Prevention</h5>
        </div>
        <div class="row">
            <div class="col-md-3">
                Application Control
            </div>
            <div class="col-md-3">
                Patching Applications
            </div>
            <div class="col-md-3">
                Microsoft Office Macros
            </div>
            <div class="col-md-3">
                User Application Hardening
            </div>
        </div>
    </div>

    <div class="mb-3 card">
        <div class="card-header-tab card-header">
            <h5>Attack Harm Reduction</h5>
        </div>
        <div class="row">
            <div class="col-md-4">
                Restrict Admin Privilages
            </div>
            <div class="col-md-4">
                Patch Operating Systems
            </div>
            <div class="col-md-4">
                Multi-factor Authentication
            </div>
        </div>
    </div>
    <div class="mb-3 card">
        <div class="card-header-tab card-header">
            <h5>Recoverability and Availability</h5>
        </div>
        <div class="row">
            <div class="col-md-12">
                Daily Backups
            </div>
        </div>
    </div>
    {% else %}
        <p>You dont have any report to view! <a href="#">click here to add a server and start reporting</a></p>
    {% endif %}
{% endblock %}