{% extends 'base.html' %}

{% block head_title %}
    ADESA Dashboard
{% endblock %}

{% block content %}
    {% if result_dict is not None %}
    <h1>Dashboard</h1>
    <hr>
    <h3>Summary</h3>
    <div class="mb-3 card">
        <div class="card-header-tab card-header">
            Essential 8 Report Score
        </div>
        <div class="row">
            <div class="col-md-4">
                Active Directory Environment Score
                <h5>{{ ad_env_score }}/67</h5>
            </div>
            <div class="col-md-4">
                Average Maturity Score
                <h5>{{ average_maturity_score|floatformat:'1' }}</h5>
            </div>
            <div class="col-md-4">
                Days Since Last Audit
                <h5>{{ days_since_last_audit }}</h5>
            </div>
        </div>
        <div class="text-centre card-footer">
            <a href="{% url 'generate_report' report_id %}">Download Full Report</a>
        </div>
    </div>
    <hr>
    <h3>Essential 8 Scores</h3>
    <div class="mb-3 card">
        <div class="card-header-tab card-header">
            <h5>Attack Prevention</h5>
        </div>
        <div class="row">
            <div class="col-md-3">
                Application Control
                <h3>Score</h3>
                <h5>{{ application_control_score.score }}/7</h5>
                <h3>Maturity Level</h3>
                <h5>{{ application_control_score.maturity_level }}</h5>
            </div>
            <div class="col-md-3">
                Patching Applications
                <h3>Score</h3>
                <h5>{{ patching_application_score.score }}/7</h5>
                <h3>Maturity Level</h3>
                <h5>{{ patching_application_score.maturity_level }}</h5>

            </div>
            <div class="col-md-3">
                Microsoft Office Macros
                <h3>Score</h3>
                <h5>{{ office_macros_score.score }}/8</h5>
                <h3>Maturity Level</h3>
                <h5>{{ office_macros_score.maturity_level }}</h5>
            </div>
            <div class="col-md-3">
                User Application Hardening
                <h3>Score</h3>
                <h5>{{ application_hardening_score.score }}/9</h5>
                <h3>Maturity Level</h3>
                <h5>{{ application_hardening_score.maturity_level }}</h5>
            </div>
        </div>
    </div>

    <div class="mb-3 card">
        <div class="card-header-tab card-header">
            <h5>Attack Harm Reduction</h5>
        </div>
        <div class="row">
            <div class="col-md-4">
                Restrict Admin Privileges
                <h3>Score</h3>
                <h5>{{ admin_privileges_score.score }}/7</h5>
                <h3>Maturity Level</h3>
                <h5>{{ admin_privileges_score.maturity_level }}</h5>
            </div>
            <div class="col-md-4">
                Patch Operating Systems
                <h3>Score</h3>
                <h5>{{ patching_os_score.score }}/7</h5>
                <h3>Maturity Level</h3>
                <h5>{{ patching_os_score.maturity_level }}</h5>
            </div>
            <div class="col-md-4">
                Multi-factor Authentication
                <h3>Score</h3>
                <h5>{{ mfa_score.score }}/9</h5>
                <h3>Maturity Level</h3>
                <h5>{{ mfa_score.maturity_level }}</h5>
            </div>
        </div>
    </div>
    <div class="mb-3 card">
        <div class="card-header-tab card-header">
            <h5>Recoverability and Availability</h5>
        </div>
        <div class="row">
            <div class="col-md-12">
                Daily Backups
                <h3>Score</h3>
                <h5>{{ backup_score.score }}/13</h5>
                <h3>Maturity Level</h3>
                <h5>{{ backup_score.maturity_level }}</h5>
            </div>
        </div>
    </div>
    {% else %}
        <p>You dont have any report to view! <a href="{% url 'add_server' %}">click here to add a server and start reporting</a></p>
    {% endif %}
{% endblock %}