{% extends 'base.html' %}

{% block head_title %}
    Add a Server
{% endblock %}

{% block content %}
    <div class="loader" id="loader">
{#        <p>Please wait this may take a few minutes...</p>#}
    </div>


    <h1>Server Credentials</h1>
    <hr>
    <p>Enter your domain administrator credentials for your Active Directory Server to begin the audit!</p>
    <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" value="{{ server_id }}" id="server_id">
    <button id="button" type="submit">Submit</button>
    </form>

    <script>
        $('#button').on('click', function(event){
            event.preventDefault();
            ad_auditor();
        })
    </script>
{% endblock %}