{% extends 'base.html' %}

{% block head_title %}
    Add a Server
{% endblock %}

{% block content %}
    <div class="loader" id="loader">
{#        <img id="loading-image" src="images/ajax-loader.gif" alt="Loading..." />#}
    </div>

    <form method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="hidden" value="{{ server_id }}" id="server_id">
    <button id="button" type="submit">Submit</button>
    </form>

    <script>
        $('#button').on('click', function(event){
            event.preventDefault();
            ad_auditor();
        })
    </script>
{% endblock %}